<html>
  <body>
    <h2>Welcome to the about me page</h2>
    <%- include('./partials/nav.ejs') %>
    <p>ahfdlkfdlf</p>
    <p>ahfdlkfdlf</p>
    <p>ahfdlkfdlf</p>
    <p>ahfdlkfdlf</p>
  </body>
</html>
