<html>
  <body>
    <h2>Create a new blog here</h2>
    <%- include('./partials/nav.ejs') %>
    <form>
      Heading: <br />
      <input type="text" name="heading" /> <br />
      Blog: <br />
      <input type="text" name="content" /> <br />
    </form>

    <h3><a href="/">Return to homepage</a></h3>
  </body>
</html>
